.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  /* .button-container {
    margin-bottom: 20px;
    margin-top: 10px;
    
  } */

  .card-container {
    display: flex;
    flex-direction: wrap;
    gap: 20px; /* Add space between cards */
    justify-content: center;
  }
  .card {
    border: 1px solid #ccc; /* Add border to each card */
    padding: 10px; /* Add padding for spacing inside the card */
    flex: 1 1 200px;
    margin: 5px;
    max-width: 300px;
  }

  .header-image {
    width: 100%; /* Adjust the width as needed */
    max-width: 400px;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto 10px; /* Add some space below the image */
    padding-top: 100px;
  }
  
  button {
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom:20px;
    font-family: Arial, sans-serif;
  }
  
  .output-container {
    align-self:flex-start;
    margin-left: auto;
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 10px;
  }

  .output {
    font-size: 24px;
    font-family: Arial, sans-serif;
  }

  .output-container .output {
    font-family: Arial, sans-serif;
  }